:root {
  --primary-text-color: #757575;
  --main-black-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --hero-footer-backgraund-color: #2f303a;
  --section-team-background-color: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Header */

.header-nav {
  display: flex;
  align-items: center;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.logo {
  color: var(--main-black-color);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--main-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.curent {
  color: var(--accent-color);
}
.contact-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color);
}
.contact-nav {
  display: flex;
  margin-left: auto;
}
.contact-nav .item + .item {
  margin-left: 50px;
}

/* Main
 Эффективные решения для вашего бизнеса */
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
}
.hero {
  text-align: center;
  background: var(--hero-footer-backgraund-color);
}
.hero-button {
  color: var(--main-white-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 10;
}
/* Чем занимаемся */
.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  color: var(--main-black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
/* Наши преимущества */
.feature-list .feature-margine + .feature-margine {
  margin-left: 30px;
}
.list-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text {
  margin-top: 10px;
  margin-bottom: 0;
  width: 270px;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* cards */
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.pictures {
  display: flex;
}
.pictures .img-margine + .img-margine {
  margin-left: 30px;
}
/* Наша команда */
.teams-title {
  background: var(--section-team-background-color);
}
.comunity-title {
  display: flex;
  margin-right: 30px;
}
.comunity-title .picture-margine + .picture-margine {
  margin-left: 30px;
}
.person {
  margin-bottom: 30px;
}
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  color: var(--main-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.person-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.picture-margine {
  border-radius: 0px 0px 4px 4px;
  background: var(--main-white-color);
}
/* footer */
.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--hero-footer-backgraund-color);
  text-decoration: none;
}

.adress-margin {
  margin-top: 20px;
  margin-bottom: 9px;
}
.contact-margin {
  margin-bottom: 9px;
}
.logostudia-accent {
  color: var(--main-white-color);
}
.map {
  color: var(--main-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
.footer-info {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}
.footer-info:hover,
.foter-info:focus {
  color: var(--accent-color);
}
/* Portfolio */
.main-portfolio {
  margin-top: 0;
  margin-bottom: 0;
}
.button-nav:hover,
.button-nav:focus {
  color: var(--main-white-color);
  background: var(--accent-color);
}
.filters {
  display: flex;
  justify-content: center;
}
.filter-main {
  margin-left: 8px;
  margin-bottom: 56px;
}
.button-nav {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  border-width: 0;
  color: var(--main-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--section-team-background-color);
}
/* pictures filters */
.portfolio-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pictures-filters {
  margin-bottom: 20px;
}
.project {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.project:nth-child(3n) {
  margin-right: 0;
}
.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}
.project-text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}
